.thim-sc-text-box.style-4 .title-1 {
    font-size: 62px;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 15px;
}

.thim-sc-text-box.style-4 .title-2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    font-weight: 300;
    margin-bottom: 51px;
}

.The Velammal International School-School Building.jpg {
    filter: blur(8px);
    -webkit-filter: blur(15px);
    height: 100%;
}

#Main_page {
    background-image: url("https://cache.careers360.mobi/media/schools/social-media/media-gallery/16504/2019/8/26/The%20Velammal%20International%20School-School%20Building.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.travel_mainDiv {
    float: none;
    width: 75%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: #ff7700;
}
.environment_li
{
  margin-top: 13px;
}

.environment_li h4
{
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img
{
  border-radius: 25px;
}

.environment_li p
{
  margin-top:10px;
}

